<h3 id="alerts"><span class="light">Alert</span> Boxes</h3>
<div class="row">
  <div class="col-xs-12  col-sm-6">
    <div class="alert  alert-default  uppercase  fade  in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        This is standard alert message
      </div>
    <div class="alert  alert-dark  uppercase  fade  in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Nothing special message
    </div>
    <div class="alert  alert-info  uppercase  fade  in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Nothing special message
    </div>
  </div>
  <div class="col-xs-12  col-sm-6">
    <div class="alert  alert-success  uppercase  fade  in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Some Really positive message
    </div>
    <div class="alert  alert-warning  uppercase  fade  in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      This is a alert message in case of emergency!
    </div>
    <div class="alert  alert-danger  uppercase  fade  in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      This is a alert message in case of emergency!
    </div>
  </div>
</div>