<!-- Banners -->
<h3 id="banners"><span class="light">Some</span> More And Less Important Banners</h3>
<div class="row">

  <!-- Banners big -->
  <div class="col-xs-12">
    <div class="banners--big">
      This is <strong>Green Banner</strong> which can be used for special announcements
    </div>
  </div>

  <!-- Banners medium -->
  <div class="col-xs-12 col-sm-6">
    <div class="banners--medium">
      <strong>Less important</strong> brown banner #1
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="banners--medium">
      <strong>Less important</strong> brown banner #2
    </div>
  </div>

  <!-- Banners small -->
  <div class="col-xs-12 col-sm-4">
    <div class="banners--small">
      THE LEAST IMPORTANT<br>
      <span class="banners--small--text">Banner #1</span>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="banners--small">
      THE LEAST IMPORTANT<br>
      <span class="banners--small--text">Banner #2</span>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="banners--small">
      THE LEAST IMPORTANT<br>
      <span class="banners--small--text">Banner #3</span>
    </div>
  </div>
</div>