<!-- Banners medium -->
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <a href="shop.html">
      <div class="banners--medium">
        <span class="banners-text">New arrivals in <strong>Mashrooms &amp; Fungus</strong> category</span>
        <span class="glyphicon  glyphicon-circle  glyphicon-chevron-right"></span>
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-6">
    <a href="shop.html">
      <div class="banners--medium">
        <span class="banners-text">Up to 35% off in <strong>Sandwiches</strong> category</span>
        <span class="glyphicon  glyphicon-circle  glyphicon-chevron-right"></span>
      </div>
    </a>
  </div>
</div>