<aside class="sidebar  sidebar--blog">
  <div class="sidebar-container">
    <h3><span class="light">Flickr</span> Images</h3>
    <hr>
      <!-- Go to http://www.flickrbadge.com/, generate a code, paste it here and remove the <style> tag -->
    <div class="flickr-badge  clearfix">
      <div id="flickr_badge_wrapper"><script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=41370268@N04"></script></div>
    </div>
  </div>
  <nav class="sidebar-container">
    <h3><span class="light">Blog</span> Posts Archive</h3>
    <hr>
    <ul class="nav-blog">
      <li><a href="#">January 2014</a> (5)</li>
      <li><a href="#">January 2014</a> (5)</li>
      <li><a href="#">December 2013</a> (2)</li>
      <li><a href="#">November 2013</a> (4)</li>
      <li><a href="#">October 2013</a> (1)</li>
      <li><a href="#">September 2013</a> (12)</li>
      <li><a href="#">August 2013</a> (0)</li>
      <li><a href="#">July 2013</a> (3)</li>
      <li><a href="#">June 2013</a> (5)</li>
      <li><a href="#">May 2013</a> (2)</li>
      <li><a href="#">April 2013</a> (12)</li>
      <li><a href="#">March 2013</a> (7)</li>
      <li><a href="#">February 2013</a> (9)</li>
    </ul>
  </nav>
  <div class="sidebar-container">
    <h3><span class="light">Twitter</span> Feed</h3>
    <hr>
    {{> twitter}}
  </div>
  <nav class="sidebar-container">
    <h3><span class="light">Latest</span> Comments</h3>
    <hr>
    <ul class="nav-blog">
      <li><a href="#">Jaka Smid</a> on <a href="#">Simple Post Without Image</a></li>
      <li><a href="#">Primoz Cigler</a> on <a href="#">Hello World!</a></li>
      <li><a href="#">Marko Prelec</a> on <a href="#">Organique post with an image</a></li>
      <li><a href="#">Jaka Smid</a> on <a href="#">Simple Post Without Image</a></li>
      <li><a href="#">Primoz Cigler</a> on <a href="#">Hello World!</a></li>
      <li><a href="#">Marko Prelec</a> on <a href="#">Organique post with an image</a></li>
      <li><a href="#">Jaka Smid</a> on <a href="#">Simple Post Without Image</a></li>
      <li><a href="#">Primoz Cigler</a> on <a href="#">Hello World!</a></li>
      <li><a href="#">Marko Prelec</a> on <a href="#">Organique post with an image</a></li>
    </ul>
  </nav>
</aside>