<h3 id="buttons"><span class="light">And</span> Some Buttons</h3>

<!--
Classic buttons
-->

<p>
  <!-- Primarry button -->
  <button type="button" class="btn btn-primary">Button</button> &nbsp;

  <!-- Dark button -->
  <button type="button" class="btn btn-dark">Button</button> &nbsp;

  <!-- Warning button -->
  <button type="button" class="btn btn-warning">Button</button> &nbsp;

  <!-- Contextual button for informational alert messages -->
  <button type="button" class="btn btn-info">Button</button> &nbsp;

  <!-- Indicates a dangerous or potentially negative action -->
  <button type="button" class="btn btn-danger">Button</button> &nbsp;

  <!-- Standard button -->
  <button type="button" class="btn btn-default">Button</button> &nbsp;

  <!-- Even more dark button -->
  <button type="button" class="btn btn-darker">Button</button> &nbsp;
</p>

<!--
Transition buttons
-->
<p>
  <!-- Primarry button -->
  <button type="button" class="btn btn-primary--transition">Button</button> &nbsp;

  <!-- Dark button -->
  <button type="button" class="btn btn-dark--transition">Button</button> &nbsp;

  <!-- Warning button -->
  <button type="button" class="btn btn-warning--transition">Button</button> &nbsp;

  <!-- Contextual button for informational alert messages -->
  <button type="button" class="btn btn-info--transition">Button</button> &nbsp;

  <!-- Indicates a dangerous or potentially negative action -->
  <button type="button" class="btn btn-danger--transition">Button</button> &nbsp;

  <!-- Standard button -->
  <button type="button" class="btn btn-default--transition">Button</button> &nbsp;

  <!-- Even more dark button -->
  <button type="button" class="btn btn-darker--transition">Button</button> &nbsp;
</p>

<!--
Reverse transition buttons
-->

<p class="push-down-30">
  <!-- Primarry button -->
  <button type="button" class="btn btn-primary--reverse-transition">Button</button> &nbsp;

  <!-- Dark button -->
  <button type="button" class="btn btn-dark--reverse-transition">Button</button> &nbsp;

  <!-- Warning button -->
  <button type="button" class="btn btn-warning--reverse-transition">Button</button> &nbsp;

  <!-- Contextual button for informational alert messages -->
  <button type="button" class="btn btn-info--reverse-transition">Button</button> &nbsp;

  <!-- Indicates a dangerous or potentially negative action -->
  <button type="button" class="btn btn-danger--reverse-transition">Button</button> &nbsp;

  <!-- Standard button -->
  <button type="button" class="btn btn-default--reverse-transition">Button</button> &nbsp;

  <!-- Even more dark button -->
  <button type="button" class="btn btn-darker--reverse-transition">Button</button> &nbsp;
</p>