<h5><span class="light">One</span> column</h5>
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sag ittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet interdum ligula placerat. Maecenas auctor, sem nec eleifend blandit...</p>
  </div>
</div>
<h5><span class="light">Two</span> columns</h5>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sag ittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet interdum ligula placerat. Maecenas auctor, sem nec eleifend blandit...</p>
  </div>
  <div class="col-xs-12 col-sm-6">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sag ittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ornare, ultricies elit. Curabitur tristique felis pulvinar nibh porta, sit amet interdum ligula placerat. Maecenas auctor, sem nec eleifend blandit...</p>
  </div>
</div>
<h5><span class="light">Three</span> columns</h5>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sag ittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ...</p>
  </div>
  <div class="col-xs-12 col-sm-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sag ittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ...</p>
  </div>
  <div class="col-xs-12 col-sm-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sag ittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ...</p>
  </div>
</div>
<h5><span class="light">Four</span> columns</h5>
<div class="row">
  <div class="col-xs-12 col-sm-3">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sag ittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ...</p>
  </div>
  <div class="col-xs-12 col-sm-3">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sag ittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ...</p>
  </div>
  <div class="col-xs-12 col-sm-3">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sag ittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ...</p>
  </div>
  <div class="col-xs-12 col-sm-3">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat mauris eget magna egestas porta. Curabitur sag ittis sagittis neque rutrum congue. Donec lobortis dui sagittis, ultrices nunc ...</p>
  </div>
</div>
