<!-- Navigation -->
<div class="products-navigation  push-down-15">
  <div class="products-navigation__title">
    <h3><span class="light">Featured</span> Items</h3>
  </div>
</div>

<!-- Products -->
<div class="row">
  {{#eachIndex database.productsSelection.featured}}
    {{#modulo index 2}} <div class="clearfix visible-xs"></div> {{/modulo}}
    {{#modulo index 4}}
</div>
<div class="row">
    {{/modulo}}
    {{#filter ../database.products item property='id'}}
      {{> product}}
    {{/filter}}
  {{/eachIndex}}
</div>
