<h3 id="gallerys"><span class="light">Gallery</span> Grid</h3>
<!-- 2 collumns gallery -->
<div class="row">
  <div class="col-xs-12  col-sm-6  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-6  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
</div>
<!-- 3 collumns gallery -->
<div class="row">
  <div class="col-xs-12  col-sm-4  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-4  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-4  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
</div>
<!-- 4 collumns gallery -->
<div class="row">
  <div class="col-xs-12  col-sm-3  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-3  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-3  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-3  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
</div>
<!-- 6 collumns gallery -->
<div class="row">
  <div class="col-xs-12  col-sm-2  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-2  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-2  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-2  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-2  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-2  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
</div>
<!-- 12 collumns gallery -->
<div class="row">
  <div class="col-xs-12  col-sm-1  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-1  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-1  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-1  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-1  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-1  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-1  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-1  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-1  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-1  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-1  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
  <div class="col-xs-12  col-sm-1  push-down-20">
    <img class="gallery" alt="Gallery image" src="images/dummy/gallery.jpg" width="600" height="400">
  </div>
</div>