<div class="jumbotron  js--add-gradient">
  <div class="container">
    <div class="jumbotron__container">
      <h2 class="jumbotron__subtitle">
        Awesome oppurtunity to save a lof of money on
      </h2>
      <h1 class="jumbotron__title">
        Fresh organic food
      </h1>
      <a class="btn  btn-warning" href="http://themeforest.net/item/organique-html-template-for-healthy-food-store/6779086?ref=ProteusThemes" target="_blank">Buy theme</a> &nbsp;
      <a class="btn  btn-jumbotron" href="features.html">More details</a>
    </div>
  </div>
</div>