<!-- jumbotron -->
<div class="jumbotron  jumbotron--business  js--add-gradient">
  <div class="container">
    <div class="row">
      <div class="col-xs-12  col-md-8">
        <div class="jumbotron__container">
          <div class="jumbotron__title  jumbotron__title--main">
            We believe in you
          </div>
          <div class="jumbotron__subtitle  jumbotron__subtitle--main  push-down-30">
            We are a company which grows and sells high quality organic food and bio products.
            Our main goal is to provide home made eco-products which improves your lifestyle!
          </div>
          <a class="btn btn-warning" href="http://themeforest.net/item/organique-html-template-for-healthy-food-store/6779086?ref=ProteusThemes" target="_blank">Buy theme</a> &nbsp;
          <a class="btn btn-jumbotron" href="features.html">More details</a>
        </div>
      </div>
      <div class="col-xs-10  col-xs-offset-1  col-sm-6  col-sm-offset-3  col-md-4  col-md-offset-0  col-lg-3  col-lg-offset-1">
        <div class="jumbotron__opening-time">
          {{> opening-time}}
        </div>
      </div>
    </div>
  </div>
</div>