<!-- Navigation for products -->
<div class="products-navigation  push-down-15">
  <div class="row">
    <div class="col-xs-12  col-sm-8">
      <div class="products-navigation__title">
        <h3><span class="light">Fresh</span> From the Oven </h3>
      </div>
    </div>
    <div class="col-xs-12  col-sm-4">
      <div class="products-navigation__arrows">
        <a href="#js--latest-products-carousel" data-slide="prev"><span class="glyphicon  glyphicon-chevron-left  glyphicon-circle  products-navigation__arrow"></span></a>&nbsp;
        <a href="#js--latest-products-carousel" data-slide="next"><span class="glyphicon  glyphicon-chevron-right  glyphicon-circle  products-navigation__arrow"></span></a>
      </div>
    </div>
  </div>
</div>

<!-- Products -->
<div id="js--latest-products-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="row">
        {{#eachIndex database.productsSelection.latest}}
          {{#modulo index 2}} <div class="clearfix visible-xs"></div> {{/modulo}}
          {{#modulo index 4}}
      </div>
    </div>
    <div class="item">
      <div class="row">
          {{/modulo}}
          {{#filter ../database.products item property='id'}}
            {{> product}}
          {{/filter}}
        {{/eachIndex}}
      </div>
    </div>
  </div>
</div>