<h3 id="maps"><span class="light">Custom</span> Google Maps via snazzymaps.com</h3>
<p>It is very easy to add the fully customized Google Maps to any page. You can customize:</p>
<ul>
  <li><b>type of the map</b> (roadmap, hybrid, terrain, satellite)</li>
  <li><b>location</b> (address or coordinates)</li>
  <li><b>title</b> (for the hover on the pin)</li>
  <li><b>zoom level</b></li>
  <li><b>height of the map</b> (in pixels)</li>
</ul>
<br>
<div class="row">
  <div class="col-xs-12">
    <div class="maps">
      <iframe src="https://maps.google.ch/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Bern&amp;aq=&amp;sll=46.813187,8.22421&amp;sspn=3.379772,8.453979&amp;ie=UTF8&amp;hq=&amp;hnear=Bern&amp;t=m&amp;z=12&amp;ll=46.947922,7.444608&amp;output=embed&amp;iwloc=near"></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8257.46834335669!2d-0.12118239180841904!3d51.51143841038592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLONDON!5e1!3m2!1sen!2s!4v1388144950504"></iframe>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44297.68466912306!2d14.527120920068358!3d46.05897068115745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476531f5969886d1%3A0x400f81c823fec20!2sLjubljana%2C+Slovenia!5e0!3m2!1sen!2s!4v1388145002647"></iframe>
    </div>
  </div>
</div>
<!-- Responsive iFrame -->
<div class="Flexible-container"></div>