<!-- Title for motivational stories -->
<div class="row">
  <div class="col-xs-12">
    <div class="main__title">
      <h3 class="main__title__text"><span class="light">Why</span> is Quality Food Very Important?</h3>
    </div>
  </div>
</div>

<!-- Motivational stories -->
<div class="motivational-stories">
  <div class="row">
    <div class="col-xs-12  col-sm-4  push-down-30">
      <div class="motivational-stories__circle">
        <span class="glyphicon  glyphicon-heart"></span>
      </div>
      <h5>It is good for your heart</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor pulvinar et, cursus quis neque. Donec suscipit dui leo, vehicula pellentesque nunc rhoncus vel. Aliquam tempus justo eu orci faucibus fermentum. </p>
    </div>
    <div class="col-xs-12  col-sm-4  push-down-30">
      <div class="motivational-stories__circle">
        <span class="glyphicon  glyphicon-leaf"></span>
      </div>
      <h5>Because it is from nature</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor pulvinar et, cursus quis neque. Donec suscipit dui leo, vehicula pellentesque nunc rhoncus vel. Aliquam tempus justo eu orci faucibus fermentum. </p>
    </div>
    <div class="col-xs-12  col-sm-4  push-down-30">
      <div class="motivational-stories__circle">
        <span class="glyphicon  glyphicon-record"></span>
      </div>
      <h5>It increase your health resistance</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor pulvinar et, cursus quis neque. Donec suscipit dui leo, vehicula pellentesque nunc rhoncus vel. Aliquam tempus justo eu orci faucibus fermentum. </p>
    </div>
  </div>
</div>