<!-- Opening Times Widget -->
<div class="sidebar-item  opening-time  light-paper-pattern">
  <h3 class="opening-time__title">Opening time</h3>
  <hr class="divider-dark">
  <div class="time-table  js--timetable">
    <dl class="week-day" data-day="1">
      <dt>
        Monday
      </dt>
      <dd>
        8:00 - 16:00
      </dd>
    </dl>
    <dl class="week-day" data-day="2">
      <dt>
        Tuesday
      </dt>
      <dd>
        8:00 - 16:00
      </dd>
    </dl>
    <dl class="week-day" data-day="3">
      <dt>
        Wednesday
      </dt>
      <dd>
        8:00 - 16:00
      </dd>
    </dl>
    <dl class="week-day" data-day="4">
      <dt>
        Thursday
      </dt>
      <dd>
        8:00 - 16:00
      </dd>
    </dl>
    <dl class="week-day" data-day="5">
      <dt>
        Friday
      </dt>
      <dd>
        8:00 - 16:00
      </dd>
    </dl>
    <dl class="week-day" data-day="6">
      <dt>
        Saturday
      </dt>
      <dd>
        8:00 - 16:00
      </dd>
    </dl>
    <dl class="week-day  closed" data-day="0">
      <dt>
        Sunday
      </dt>
      <dd>
        CLOSED
      </dd>
    </dl>
  </div>
</div>