<div class="row">
  <div class="col-xs-12  col-sm-4  push-down-30">
    <div class="banners--medium  banners--medium--info">
      The Beginnings
    </div>
    Ut consectetur, magna non accumsan laoreet, enim justo varius tortor, non ornare lacus lacus eu quam. Sed id leo sit amet leo facilisis consequat. Donec eget libero sed ante faucibus dignissim in vehicula sem. Mauris gravida neque vel nibh condimentum tincidunt. Cras interdum lacus eu ipsum lobortis viverra. Integer lorem justo, elementum malesuada pretium vel, egestas a eros. Curabitur consectetur nisl augue.
  </div>
  <div class="col-xs-12  col-sm-4  push-down-30">
    <div class="banners--medium  banners--medium--info">
      Nowdays
    </div>
    Ut consectetur, magna non accumsan laoreet, enim justo varius tortor, non ornare lacus lacus eu quam. Sed id leo sit amet leo facilisis consequat. Donec eget libero sed ante faucibus dignissim in vehicula sem. Mauris gravida neque vel nibh condimentum tincidunt. Cras interdum lacus eu ipsum lobortis viverra. Integer lorem justo, elementum malesuada pretium vel, egestas a eros. Curabitur consectetur nisl augue.
  </div>
  <div class="col-xs-12  col-sm-4  push-down-30">
    <div class="banners--medium  banners--medium--info">
      Our Belief For the Future
    </div>
    Ut consectetur, magna non accumsan laoreet, enim justo varius tortor, non ornare lacus lacus eu quam. Sed id leo sit amet leo facilisis consequat. Donec eget libero sed ante faucibus dignissim in vehicula sem. Mauris gravida neque vel nibh condimentum tincidunt. Cras interdum lacus eu ipsum lobortis viverra. Integer lorem justo, elementum malesuada pretium vel, egestas a eros. Curabitur consectetur nisl augue.
  </div>
</div>