<!-- Banners big -->
<div class="banners--big  banners--big-left">
  <div class="row">
    <div class="col-xs-12  col-md-7">
      <div class="banners--big__text">
        Sign up on newsletter for more information about <strong>ProteusThemes</strong>
      </div>
    </div>
    <div class="col-xs-12  col-md-5">
      <div class="banners--big__form">
        <form action="http://proteusthemes.us4.list-manage.com/subscribe/post?u=ea0786485977f5ec8c9283d5c&amp;id=5dad3f35e9" method="post" name="mc-embedded-subscribe-form" role="form" target="_blank">
          <div class="form-group  form-group--form">
            <input type="email" name="EMAIL" class="form-control  form-control--form" placeholder="Enter your E-mail address" required>
            <button class="btn  btn-primary" type="submit">Sign up now</button>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_ea0786485977f5ec8c9283d5c_5dad3f35e9" value=""></div>
        </form>
      </div>
    </div>
  </div>
</div>