<h3 id="tables"><span class="light">Every</span> Page Needs Tables, Right?</h3>
<!-- Theme-styked table -->
<h5><span class="light">Theme-styled</span> table</h5>
<table class="table table-theme table-striped">
  <thead>
    <tr>
      <th>Lorem ipsum</th>
      <th>Day of week</th>
      <th class="right">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lorem ipsum</td>
      <td>Monday</td>
      <td class="right">10.00 - 20.00</td>
    </tr>
    <tr>
      <td>Dolor sit amet</td>
      <td>Tuesday</td>
      <td class="right">10.00 - 20.00</td>
    </tr>
    <tr class="active">
      <td>Nunc ornare</td>
      <td>Wednesday</td>
      <td class="right">10.00 - 20.00</td>
    </tr>
    <tr>
      <td>Sagitis elevlaldit</td>
      <td>Thursday</td>
      <td class="right">10.00 - 20.00</td>
    </tr>
    <tr>
      <td>Maas roe ligula</td>
      <td>Friday</td>
      <td class="right">10.00 - 20.00</td>
    </tr>
    <tr>
      <td>Lorem ipsum</td>
      <td>Saturday</td>
      <td class="right">10.00 - 24.00</td>
    </tr>
    <tr class="inactive">
      <td>Cosec tetur</td>
      <td>Sunday</td>
      <td class="right">CLOSED</td>
    </tr>
  </tbody>
</table>
<!-- Very simple table -->
<h5><span class="light">Very</span> simple tabel</h5>
<table class="table">
  <thead>
    <tr>
      <th>Lorem ipsum</th>
      <th>Day of week</th>
      <th class="right">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lorem ipsum</td>
      <td>Monday</td>
      <td class="right">10.00 - 20.00</td>
    </tr>
    <tr>
      <td>Dolor sit amet</td>
      <td>Tuesday</td>
      <td class="right">10.00 - 20.00</td>
    </tr>
    <tr>
      <td>Nunc ornare</td>
      <td>Wednesday</td>
      <td class="right">10.00 - 20.00</td>
    </tr>
    <tr>
      <td>Sagitis elevlaldit</td>
      <td>Thursday</td>
      <td class="right">10.00 - 20.00</td>
    </tr>
    <tr>
      <td>Maas roe ligula</td>
      <td>Friday</td>
      <td class="right">10.00 - 20.00</td>
    </tr>
    <tr>
      <td>Lorem ipsum</td>
      <td>Saturday</td>
      <td class="right">10.00 - 24.00</td>
    </tr>
    <tr>
      <td>Cosec tetur</td>
      <td>Sunday</td>
      <td class="right">CLOSED</td>
    </tr>
  </tbody>
</table>
<!-- Tablw with hover effect -->
<h5><span class="light">Table</span> with hover effect</h5>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Lorem ipsum</th>
      <th>Day of week</th>
      <th class="right">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lorem ipsum</td>
      <td>Monday</td>
      <td class="right">10.00 - 20.00</td>
    </tr>
    <tr>
      <td>Dolor sit amet</td>
      <td>Tuesday</td>
      <td class="right">10.00 - 20.00</td>
    </tr>
    <tr>
      <td>Nunc ornare</td>
      <td>Wednesday</td>
      <td class="right">10.00 - 20.00</td>
    </tr>
    <tr>
      <td>Sagitis elevlaldit</td>
      <td>Thursday</td>
      <td class="right">10.00 - 20.00</td>
    </tr>
    <tr>
      <td>Maas roe ligula</td>
      <td>Friday</td>
      <td class="right">10.00 - 20.00</td>
    </tr>
    <tr>
      <td>Lorem ipsum</td>
      <td>Saturday</td>
      <td class="right">10.00 - 24.00</td>
    </tr>
    <tr>
      <td>Cosec tetur</td>
      <td>Sunday</td>
      <td class="right">CLOSED</td>
    </tr>
  </tbody>
</table>