<div class="testimonials  team-slider  light-paper-pattern">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="#js--team-carousel" data-slide="prev"><span class="glyphicon  glyphicon-circle  glyphicon-chevron-left"></span></a>
        <h3 class="testimonials__title"><span class="light">Meet</span> the Team</h3>
        <a href="#js--team-carousel" data-slide="next"><span class="glyphicon  glyphicon-circle  glyphicon-chevron-right"></span></a>
        <div class="push-down-35"></div>
      </div>
    </div>
    <div id="js--team-carousel" class="carousel  slide" data-ride="carousel" data-interval="5000">
      <div class="carousel-inner">
        <div class="item  active">
          <div class="row">
            <div class="col-xs-12  col-sm-3">
              <img alt="#" class="product__image  team-image" src="images/dummy-licensed/team-1.jpg">
              <h5>Carl Hansen,</h5>
              <span class="team-slider__title">Chief executive officer</span>
            </div>
            <div class="col-xs-12  col-sm-3">
              <img alt="#" class="product__image  team-image" src="images/dummy-licensed/team-2.jpg">
              <h5>Anna Evans,</h5>
              <span class="team-slider__title">Certificated ecologist</span>
            </div>
            <div class="col-xs-12  col-sm-3">
              <img alt="#" class="product__image  team-image" src="images/dummy-licensed/team-3.jpg">
              <h5>Heather Reynolds,</h5>
              <span class="team-slider__title">Product manager</span>
            </div>
            <div class="col-xs-12  col-sm-3">
              <img alt="#" class="product__image  team-image" src="images/dummy-licensed/team-4.jpg">
              <h5>Andrew Stanley</h5>
              <span class="team-slider__title">Eco - farmer</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-xs-12  col-sm-3">
              <img alt="#" class="product__image  team-image" src="images/dummy-licensed/team-1.jpg">
              <h5>Carl Hansen,</h5>
              <span class="team-slider__title">Chief executive officer</span>
            </div>
            <div class="col-xs-12  col-sm-3">
              <img alt="#" class="product__image  team-image" src="images/dummy-licensed/team-2.jpg">
              <h5>Anna Evans,</h5>
              <span class="team-slider__title">Certificated ecologist</span>
            </div>
            <div class="col-xs-12  col-sm-3">
              <img alt="#" class="product__image  team-image" src="images/dummy-licensed/team-3.jpg">
              <h5>Heather Reynolds,</h5>
              <span class="team-slider__title">Product manager</span>
            </div>
            <div class="col-xs-12  col-sm-3">
              <img alt="#" class="product__image  team-image" src="images/dummy-licensed/team-4.jpg">
              <h5>Andrew Stanley</h5>
              <span class="team-slider__title">Eco - farmer</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>