<div class="testimonials  light-paper-pattern">
  <div class="container">
    <div class="row">
      <div class="col-sm-3  hidden-xs">
        <div class="testimonials__quotes">
          <img alt="#" class="testimonials__quotes--img" src="images/quotes.png">
        </div>
      </div>
      <div class="col-xs-12  col-sm-6">
        <a href="#js--testimonails-carousel" data-slide="prev"><span class="glyphicon  glyphicon-circle  glyphicon-chevron-left"></span></a>
        <h4 class="testimonials__title"><span class="light">Others</span> About Us</h4>
        <a href="#js--testimonails-carousel" data-slide="next"><span class="glyphicon  glyphicon-circle  glyphicon-chevron-right"></span></a>
        <hr class="divider-dark">
        <div id="js--testimonails-carousel" class="carousel  slide" data-ride="carousel" data-interval="5000">
          <div class="carousel-inner">
            <div class="item  active">
              <q class="testimonials__text">A top quality product delivered super quick! Thank you so much Organic Shop,<br>I shall definitely be using you guys again!</q><br><br>
              <cite><b>John Don Joe,</b></cite> Musician
            </div>
            <div class="item">
              <q class="testimonials__text">THANKS! I really appreciate the FAST service of Proteus! Really Really Happy with the theme and support! Thanks again.</q><br><br>
              <cite><b>Timonvki,</b></cite> Themeforest user
            </div>
            <div class="item">
              <q class="testimonials__text">Great theme, perfect for any salon. Client loves it. Very good documentation and easy to use and setup.</q><br><br>
              <cite><b>Ypclarke,</b></cite> Themeforest user
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3  hidden-xs">
        <div class="testimonials__quotes--rotate">
          <img alt="#" class="testimonials__quotes--img" src="images/quotes.png">
        </div>
      </div>
    </div>
  </div>
</div>