<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="widgets__navigation">
      <div class="widgets__heading--line">
        <h4 class="widgets__heading">Top Rated Products</h4>
      </div>
      {{> widget-top-rated}}
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="widgets__navigation">
      <div class="widgets__heading--line">
        <h4 class="widgets__heading">Bestsellers</h4>
      </div>
      {{> widget-bestsellers}}
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="widgets__navigation">
      <div class="widgets__heading--line">
        <h4 class="widgets__heading">Weekly Recipe</h4>
      </div>
      <img alt="#" class="product__image" src="images/dummy-licensed/recipe.jpg" width="353" height="186">
      <div class="products__title">
      <div class="push-down-10"></div>
        Delicious organic big-ecologic sandwich
      </div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est purus, fringilla sit amet arcu quis, feugiat ultrices metus. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus.
    </div>
  </div>
</div>