---
breadcrumbs:
  index.html: Home
  blog.html: Blog
  nolink: Alternative
isCenteredContent: true
---
{{> head}}
{{> header}}
{{> breadcrumbs}}
<div class="container  push-down-30">

  <!-- Banners big -->
  <div class="row">
    <div class="col-xs-12  push-down-20">
      <div class="banners--big  banners--big--left">
        <span class="banners-text">This is a <span class="bold">Organique blog</span> where smart people write even smarter things :)</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12  blog-alternative">
      {{> blog-content}}
    </div>
  </div>
</div>
{{> footer}}