---
breadcrumbs:
  index.html: Home
  blog-left-sidebar.html: Blog
  nolink: Left Sidebar
---
{{> head}}
{{> header}}
{{> breadcrumbs}}
<!-- Banners big -->
<div class="container">
  <div class="banners--big  banners--big-left  push-down-30">
    <div class="row">
      <div class="col-xs-12  col-md-7">
        <div class="banners--big__text">
          This is a <strong>Organique blog</strong> where smart people write even smarter things :)
        </div>
      </div>
      <div class="col-xs-12  col-md-5">
        <div class="blog__archive">
          <a class="blog__banner__link" href="blog.html">SEE BLOG ARCHIVE &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="glyphicon  glyphicon-circle  glyphicon-chevron-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container  push-down-30">
  <div class="row">
    <div class="col-xs-12  col-sm-8  col-sm-push-4">
      {{> blog-content}}
    </div>
    <div class="col-xs-12  col-sm-4  col-sm-pull-8">
      {{> blog-sidebar}}
    </div>
  </div>
</div>
{{> footer}}