---
breadcrumbs:
  index.html: Home
  nolink: Elements
---
{{> head}}
{{> header}}
{{> breadcrumbs}}
<div class="container">
  <div class="row">
    <div class="col-sm-3  hidden-xss">
    <h3 id="logo"><span class="light">Sidebar</span> menu</h3>
    <hr class="sidebar-divider">
      <div class="features-menu  js--affix-menu">
        <ul class="nav  nav-sidebar-menu">
          <li class="active"><a class="sidebar-menu__links" href="#headings">Headings</a></li>
          <li><a href="#banners">Banners</a></li>
          <li><a href="#alerts">Alerts</a></li>
          <li><a href="#tabs">Tabs</a></li>
          <li><a href="#buttons">Buttons</a></li>
          <li><a href="#tables">Tables</a></li>
          <li><a href="#maps">Maps</a></li>
          <li><a href="#bars">Bars</a></li>
          <li><a href="#columns">Columns</a></li>
          <li><a href="#gallerys">Gallerys</a></li>
          <li><a href="#code">Code</a></li>
          <li><a href="#toggles">Toggles</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12  col-sm-9">
      <h3 id="headings"><span class="light">Different</span> Headlines</h3>
      <hr class="title__divider">
      {{> headings}}
      {{> divider}}
      {{> banners}}
      {{> divider}}
      {{> alerts}}
      {{> divider}}
      <h3 id="tabs"><span class="light">Just</span> Some Tabs</h3>
      {{> tabs}}
      {{> divider}}
      {{> buttons}}
      {{> divider}}
      {{> tables}}
      {{> divider}}
      {{> maps}}
      {{> divider}}
      {{> progress-bars}}
      {{> divider}}
      <h3 id="columns"><span class="light">Collumns</span> For Grand Finale</h3>
      {{> columns}}
      {{> divider}}
      {{> gallerys}}
      {{> divider}}
      {{> code}}
      {{> divider}}
      {{> toggles}}
      {{> divider}}
    </div>
  </div>
</div>
{{> footer}}