---
breadcrumbs:
  index.html: Home
  nolink: Features
---
{{> head}}
{{> header}}
{{> breadcrumbs}}
<div class="container  push-down-30">
  <div class="row">
    <div class="col-xs-12  push-down-60">
      <h1 class="center"><span class="light">Theme</span> Features</h1>
      {{> divider}}
      <div class="text-shrink">
        <p class="text-highlight">
          Organique is the premium HTML template for organic shops and local business. It is crafted with love by ProteusThemes and you can get it on the ThemeForest marketplace.
        </p>
      </div>
      <hr class="divider  divider-about">
    </div>
    <div class="col-xs-12  col-sm-6">
      <div class="features-container">
        <img alt="Responsive and Retina-Ready" class="features-images" src="images/dummy/responsive-and-retina-ready.png" width="270" height="230">
        <h3><span class="light">Responsive</span> &amp; Retina-Ready</h3>
        Organique looks great on any device, from mobile desktop and beyond. Clean responsive design fits to any screen and we ensured it loads fast too!
      </div>
    </div>
    <div class="col-xs-12  col-sm-6">
      <div class="features-container">
        <img alt="Lightning Fast" class="features-images" src="images/dummy/lightning-fast.png" width="270" height="230">
        <h3><span class="light">Lightning</span> Fast</h3>
        Organique is fast, really fast. No more words needed.
      </div>
    </div>
    <div class="col-xs-12  col-sm-6">
      <div class="features-container">
        <img alt="Search Engine Optimized" class="features-images" src="images/dummy/search-engine-optimized.png" width="270" height="230">
        <h3><span class="light">Search</span> Engine Optimized</h3>
        Our theme is written in semantic &amp; valid HTML5 &amp; CSS3 coding with SEO best-practices for highest search engine ranking.
      </div>
    </div>
    <div class="col-xs-12  col-sm-6">
      <div class="features-container">
        <img alt="Layered PSDs Included" class="features-images" src="images/dummy/layered-psds-included.png" width="270" height="230">
        <h3><span class="light">Layered</span> PSDs Included</h3>
        So you will be able to see design source and change every single part of it just the way you want.
      </div>
    </div>
    <div class="col-xs-12  col-sm-6">
      <div class="features-container">
        <img alt="Unlimited Colors and Layouts" class="features-images" src="images/dummy/unlimited-colors-and-layouts.png" width="270" height="230">
        <h3><span class="light">Unlimited</span> Colors and Layouts</h3>
        You can change the whole color theme and modify almost any element of your website the way you want.
      </div>
    </div>
    <div class="col-xs-12  col-sm-6">
      <div class="features-container">
        <img alt="Glyphicons and Zocial Icons" class="features-images" src="images/dummy/glyphicons-and-zocial-icons.png" width="270" height="230">
        <h3><span class="light">290+</span> Glyphicons and Zocial Icons</h3>
        Organique includes 290+ resizable icons from Glyphicons and Zocial icons.
      </div>
    </div>
    <div class="col-xs-12  col-sm-6">
      <div class="features-container">
        <img alt="Advanced Shop Filters" class="features-images" src="images/dummy/advanced-shop-filters.png" width="270" height="230">
        <h3><span class="light">Advanced</span> shop filters</h3>
        Organique includes advance shop filters for proper &quot;wooow&quot; effect and maximum satisfaction of your customers.
      </div>
    </div>
    {{!-- <div class="col-xs-12  col-sm-6">
      <div class="features-container">
        <img alt="Revolution Slider for Free" class="features-images" src="images/dummy/revolution-slider-for-free.png" width="270" height="230">
        <h3><span class="light">Revolution</span> Slider for Free</h3>
        Slider is the first thing your customers will see when they come to your website, so it is important to have the best slide available - premium Slider Revolution.
      </div>
    </div> --}}
    {{!-- <div class="col-xs-12  col-sm-6">
      <div class="features-container">
        <img alt="Extensive Documentation" class="features-images" src="images/dummy/extensive-documentation.png" width="270" height="230">
        <h3><span class="light">Extensive</span> Documentation</h3>
        Even though every process of modifying our theme is as simple as possible, we prepared extensive documentation just in case if something goes wrong.
      </div>
    </div> --}}
    <div class="col-xs-12  col-sm-6">
      <div class="features-container">
        <img alt="Awesome Support" class="features-images" src="images/dummy/awesome-support.png" width="270" height="230">
        <h3><span class="light">Awesome</span> Support</h3>
        We provide almost real-time support on advanced support system and if you got yourself in trouble we are there for you.
      </div>
    </div>
  </div>
{{> subscribe-on-newsletter}}
</div>
{{> footer}}