---
stickyNavbar: true
---
{{> head}}
{{> header}}
{{> slider}}
{{> banners--small}}
<div class="container">
  {{> motivational-stories}}
</div>
{{> team}}
<div class="container">
  {{> widgets-business}}
  {{> subscribe-on-newsletter}}
  {{> story-and-plans}}
</div>
{{> testimonials}}
<div class="simple-map  js--where-we-are" data-latlng="46.049467,14.460506" data-markers="[{lat: 46.049467,lng: 14.460506,title: 'ProteusThemes Ljubljana'},{lat: 46.020569,lng: 15.476118,title: 'ProteusThemes Senovo'}]" data-zoom="6"></div>
{{> footer}}