---
breadcrumbs:
  index.html: Home
  about-us.html: Page
  nolink: Page Full Width
---
{{> head}}
{{> header}}
{{> breadcrumbs}}
<div class="container  push-down-30">
  <div class="row">
    <div class="col-xs-12">
      <h3><span class="light">Page</span> With Full Width</h3>
      <hr>
      {{> columns}}
      {{> headings}}
    </div>
  </div>
</div>
{{> footer}}