---
breadcrumbs:
  index.html: Home
  nolink: Pricing Tables
---
{{> head}}
{{> header}}
{{> breadcrumbs}}
<div class="container  push-down-30">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="center"><span class="light">Pricing</span> Tables</h1>
      {{> divider}}
      <div class="text-shrink">
        <p class="text-highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vulputate, leo vel malesuada tincidunt, purus nunc tristique erat, at elementum tellus mi nec mi. Nunc rutrum ullamcorper blandit.</p>
      </div>
      <hr class="divider  divider-about">
      <div class="push-down-30"></div>
      <div class="row">
        <div class="col-xs-12  col-sm-6">
          <h3><span class="light">Pricing</span> Table #1</h3>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque consectetur leo, eu porta metus. Nulla justo lacus, aliquam vel libero nec, faucibus enim tristique, molestie ante. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, ullamcorper sit amet interdum at, pulvinar sit amet risus.<p>
        </div>
        <div class="col-xs-12  col-sm-6  push-down-30">
          <table class="table table-theme table-striped">
            <thead>
              <tr>
                <th>Template</th>
                <th>CMS</th>
                <th class="right">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a class="secondary-link" href="#">Organique</a></td>
                <td>HTML</td>
                <td class="right">$15.00</td>
              </tr>
              <tr>
                <td>Organique</td>
                <td>WordPress</td>
                <td class="right">Coming soon</td>
              </tr>
              <tr>
                <td><a class="secondary-link" href="http://themeforest.net/item/webmarket-html-template-for-online-shop/5409539?ref=proteusthemes" target="_blank">Webmarket</a></td>
                <td>HTML</td>
                <td class="right">$15.00</td>
              </tr>
              <tr>
                <td><a class="secondary-link" href="http://themeforest.net/item/webmarket-wp-woocommerce-theme-for-online-shop/6437728?ref=proteusthemes" target="_blank">Webmarket</a></td>
                <td>Wordpress</td>
                <td class="right">$55.00</td>
              </tr>
              <tr>
                <td><a class="secondary-link" href="http://themeforest.net/item/webmarket-magento-theme-for-online-shop/6382713?ref=proteusthemes" target="_blank">Webmarket</a></td>
                <td>Magento</td>
                <td class="right">$80.00</td>
              </tr>
              <tr>
                <td><a class="secondary-link" href="http://themeforest.net/item/hairpress-html-template-for-hair-salons/3803346?ref=proteusthemes" target="_blank">Hairpress</a></td>
                <td>HTML</td>
                <td class="right">$16.00</td>
              </tr>
              <tr>
                <td><a class="secondary-link" href="http://themeforest.net/item/hairpress-wordpress-theme-for-hair-salons/4099496?ref=proteusthemes" target="_blank">Hairpress</a></td>
                <td>Wordpress</td>
                <td class="right">$55.00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-12  col-sm-6">
          <h3><span class="light">Pricing</span> Table #2</h3>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque consectetur leo, eu porta metus. Nulla justo lacus, aliquam vel libero nec, faucibus enim tristique, molestie ante. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, ullamcorper sit amet interdum at, pulvinar sit amet risus.<p>
        </div>
        <div class="col-xs-12  col-sm-6">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Template</th>
                <th>CMS</th>
                <th class="right">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a class="secondary-link" href="#">Organique</a></td>
                <td>HTML</td>
                <td class="right">$15.00</td>
              </tr>
              <tr>
                <td>Organique</td>
                <td>WordPress</td>
                <td class="right">Coming soon</td>
              </tr>
              <tr>
                <td><a class="secondary-link" href="http://themeforest.net/item/webmarket-html-template-for-online-shop/5409539?ref=proteusthemes" target="_blank">Webmarket</a></td>
                <td>HTML</td>
                <td class="right">$15.00</td>
              </tr>
              <tr>
                <td><a class="secondary-link" href="http://themeforest.net/item/webmarket-wp-woocommerce-theme-for-online-shop/6437728?ref=proteusthemes" target="_blank">Webmarket</a></td>
                <td>Wordpress</td>
                <td class="right">$55.00</td>
              </tr>
              <tr>
                <td><a class="secondary-link" href="http://themeforest.net/item/webmarket-magento-theme-for-online-shop/6382713?ref=proteusthemes" target="_blank">Webmarket</a></td>
                <td>Magento</td>
                <td class="right">$80.00</td>
              </tr>
              <tr>
                <td><a class="secondary-link" href="http://themeforest.net/item/hairpress-html-template-for-hair-salons/3803346?ref=proteusthemes" target="_blank">Hairpress</a></td>
                <td>HTML</td>
                <td class="right">$16.00</td>
              </tr>
              <tr>
                <td><a class="secondary-link" href="http://themeforest.net/item/hairpress-wordpress-theme-for-hair-salons/4099496?ref=proteusthemes" target="_blank">Hairpress</a></td>
                <td>Wordpress</td>
                <td class="right">$55.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}