---
breadcrumbs:
  index.html: Home
  nolink: Search Results
---
{{> head}}
{{> header}}
{{> breadcrumbs}}
<div class="container  push-down-30">
  <div class="row">
    <div class="col-xs-12  col-sm-8">
      <h3><span class="light">Search</span> Results <span class="light">- Post</span></h3>
      <hr>
      <article>
        <a href="single-post.html"><h3><span class="light">This</span> blog is designed for maximum readibility</h3></a>
        <div class="push-down-20">
          <span class="blog__date">January 3, 2014</span> / <a class="secondary-link" href="#">2 comments</a>
        </div>
        <p class="blog-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque consectetur leo, eu porta metus. Nulla justo lacus, aliquam vel libero nec, viverra placerat neque.</p>
        <a href="single-post.html" class="btn btn-primary">Read more</a>
      </article>
      {{> divider}}
      <article>
        <a href="single-post.html"><h3><span class="light">And</span> this is how it looks third post</h3></a>
        <div class="push-down-20">
          <span class="blog__date">January 3, 2014</span> / <a class="secondary-link" href="#">2 comments</a>
        </div>
        <p class="blog-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque consectetur leo, eu porta metus. Aliquam vel libero nec, viverra placerat neque.</p>
        <a href="single-post.html" class="btn btn-primary">Read more</a>
      </article>
      {{> divider}}
      <article>
        <a href="single-post.html"><h3><span class="light">Lorem</span> ipsum dolor sit</h3></a>
        <div class="push-down-20">
          <span class="blog__date">January 3, 2014</span> / <a class="secondary-link" href="#">2 comments</a>
        </div>
        <p class="blog-content__text">Lorem ipsum dolor, consectetur adipiscing elit.</p>
        <a href="single-post.html" class="btn btn-primary">Read more</a>
      </article>
      {{> divider}}
      <article>
        <a href="single-post.html"><h3><span class="light">Welcome</span> to Organique</h3></a>
        <div class="push-down-20">
          <span class="blog__date">January 3, 2014</span> / <a class="secondary-link" href="#">2 comments</a>
        </div>
        <p class="blog-content__text">Lorem ipsum dolor sit amet. Vestibulum pellentesque consectetur leo, eu porta metus. Nulla justo lacus, aliquam vel libero nec, viverra placerat neque.</p>
        <a href="single-post.html" class="btn btn-primary">Read more</a>
      </article>
      {{> divider}}
      <article>
        <a href="single-post.html"><h3><span class="light">Lorem</span> ipsum dolor sit amet nulla</h3></a>
        <div class="push-down-20">
          <span class="blog__date">January 3, 2014</span> / <a class="secondary-link" href="#">2 comments</a>
        </div>
        <p class="blog-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque consectetur leo, eu porta metus. Nulla justo lacus, aliquam vel libero.</p>
        <a href="single-post.html" class="btn btn-primary">Read more</a>
      </article>
      {{> blog-last-divider}}
      <ul class="pagination">
        <li><a class="pagination--nav" href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        <li><a href="#">1</a></li>
        <li><a class="active" href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a class="pagination--nav" href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
      </ul>
    </div>
    <div class="col-xs-12  col-sm-4">
      {{> blog-sidebar}}
    </div>
  </div>
</div>
{{> footer}}