---
breadcrumbs:
  index.html: Home
  blog.html: Blog
  nolink: Single Post
---
{{> head}}
{{> header}}
{{> breadcrumbs}}
<!-- Banners big -->
<div class="container  push-down-30">
  <div class="banners--big  banners--big-left">
    <div class="row">
      <div class="col-xs-12  col-md-7">
        <div class="banners--big__text">
          This is a <strong>Organique blog</strong> where smart people write even smarter things :)
        </div>
      </div>
      <div class="col-xs-12  col-md-5">
        <div class="blog__archive">
          <a class="blog__banner__link" href="blog.html">SEE BLOG ARCHIVE &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container  push-down-30">
  <div class="row">
    <div class="col-xs-12  col-sm-8">
      <article>
        <img class="wp-post-image" alt="Blog featured image" src="images/dummy-licensed/blog-image-sidebar.jpg">
        <a href="single-post.html"><h3><span class="light">Organique</span> post with an image</h3></a>
        <div class="push-down-15">
          <time class="blog__date" datetime="2014-01-06">January 6, 2014</time> / <a class="secondary-link" href="#">3 comments</a>
        </div>
        <div class="blog-content__text">
          <p class="blog-content__text--highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vulputate, leo vel malesuada tincidunt, purus nunc tristique erat, at elementum tellus mi nec mi. Nunc rutrum ullamcorper blandit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque consectetur leo, eu porta metus. Nulla justo lacus, aliquam vel libero nec, viverra placerat neque. Cras nec nunc sollicitudin, faucibus enim tristique, molestie ante. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Etiam sit amet euismod eros. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, ullamcorper sit amet interdum at, pulvinar sit amet risus.</p>
          <p>Nulla justo lacus, aliquam vel libero nec, viverra placerat neque. Cras nec nunc sollicitudin, faucibus enim tristique, molestie ante. Nunc a dolor eget lectus venenatis ullamcorper. Nullam dictum elementum lacus quis facilisis. Etiam sit amet euismod eros. Phasellus mollis tempus tempus. Fusce ut sagittis quam, quis facilisis tellus. Nam vel aliquet leo. Integer lacus tortor, ullamcorper sit amet interdum at, pulvinar sit amet risus.</p>
        </div>
        {{> divider}}
      </article>
      <!-- Comments -->
      <h3><span class="light" id="comments">7</span> Comments</h3>
      <div class="comments">
        <div class="avatar-container">
          <img src="images/dummy/avatar.jpg" alt="avatar" class="avatar" width="80" height="80">
        </div>
        <div class="comment-content">
          <div class="comment-inner">
            <div class="comment-metadata  push-down-15">
              <cite class="author-name">
                <span class="light">Jaka</span> Šmid
              </cite>
                <div class="comment__date"> September 28, 2013 at 3:32 pm / <a class="secondary-link" href="#">Reply</a>
                </div>
            </div>
            <div class="comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscpit ipsum sed sapien dignissim, eu blandit mi volutpat. Curabitur tincidunt, tellus sit amet rutrum sodales, velit orci consectetur velit, a placerat magna est nec justo. Nam iaculis velit at lacus gravida, et dictum nulla dapibus.</p>
            </div>
          </div>
        </div>
        <div class="avatar-container">
          <img src="images/dummy/avatar.jpg" alt="avatar" class="avatar" width="80" height="80">
        </div>
        <div class="comment-content">
          <div class="comment-inner">
            <div class="comment-metadata  push-down-15">
              <cite class="author-name">
                <span class="light">Jaka</span> Šmid
              </cite>
                <div class="comment__date"> September 28, 2013 at 3:32 pm / <a class="secondary-link" href="#">Reply</a>
                </div>
            </div>
            <div class="comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscpit ipsum sed sapien dignissim, eu blandit mi volutpat. Curabitur tincidunt, tellus sit amet rutrum sodales, velit orci consectetur velit, a placerat magna est nec justo. Nam iaculis velit at lacus gravida, et dictum nulla dapibus.</p>
            </div>
          </div>
        </div>
        <div class="avatar-container--nested">
          <img src="images/dummy/avatar.jpg" alt="avatar" class="avatar" width="80" height="80">
        </div>
        <div class="comment-content--nested">
          <div class="comment-inner">
            <div class="comment-metadata  push-down-15">
              <cite class="author-name">
                <span class="light">Jaka</span> Šmid
              </cite>
                <div class="comment__date"> September 28, 2013 at 3:32 pm / <a class="secondary-link" href="#">Reply</a>
                </div>
            </div>
            <div class="comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscpit ipsum sed sapien dignissim, eu blandit mi volutpat. Curabitur tincidunt, tellus sit amet rutrum sodales, velit orci consectetur velit, a placerat magna est nec justo. Nam iaculis velit at lacus gravida, et dictum nulla dapibus.</p>
            </div>
          </div>
        </div>
        <div class="avatar-container--nestedx2">
          <img src="images/dummy/avatar.jpg" alt="avatar" class="avatar" width="80" height="80">
        </div>
        <div class="comment-content--nestedx2">
          <div class="comment-inner">
            <div class="comment-metadata  push-down-15">
              <cite class="author-name">
                <span class="light">Jaka</span> Šmid
              </cite>
                <div class="comment__date"> September 28, 2013 at 3:32 pm / <a class="secondary-link" href="#">Reply</a>
                </div>
            </div>
            <div class="comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscpit ipsum sed sapien dignissim, eu blandit mi volutpat. Curabitur tincidunt, tellus sit amet rutrum sodales, velit orci consectetur velit, a placerat magna est nec justo. Nam iaculis velit at lacus gravida, et dictum nulla dapibus.</p>
            </div>
          </div>
        </div>
        <div class="avatar-container">
          <img src="images/dummy/avatar.jpg" alt="avatar" class="avatar" width="80" height="80">
        </div>
        <div class="comment-content">
          <div class="comment-inner">
            <div class="comment-metadata  push-down-15">
              <cite class="author-name">
                <span class="light">Jaka</span> Šmid
              </cite>
                <div class="comment__date"> September 28, 2013 at 3:32 pm / <a class="secondary-link" href="#">Reply</a>
                </div>
            </div>
            <div class="comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscpit ipsum sed sapien dignissim, eu blandit mi volutpat. Curabitur tincidunt, tellus sit amet rutrum sodales, velit orci consectetur velit, a placerat magna est nec justo. Nam iaculis velit at lacus gravida, et dictum nulla dapibus.</p>
            </div>
          </div>
        </div>
        <div class="avatar-container">
          <img src="images/dummy/avatar.jpg" alt="avatar" class="avatar" width="80" height="80">
        </div>
        <div class="comment-content">
          <div class="comment-inner">
            <div class="comment-metadata  push-down-15">
              <cite class="author-name">
                <span class="light">Jaka</span> Šmid
              </cite>
                <div class="comment__date"> September 28, 2013 at 3:32 pm / <a class="secondary-link" href="#">Reply</a>
                </div>
            </div>
            <div class="comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscpit ipsum sed sapien dignissim, eu blandit mi volutpat. Curabitur tincidunt, tellus sit amet rutrum sodales, velit orci consectetur velit, a placerat magna est nec justo. Nam iaculis velit at lacus gravida, et dictum nulla dapibus.</p>
            </div>
          </div>
        </div>
        <div class="avatar-container">
          <img src="images/dummy/avatar.jpg" alt="avatar" class="avatar" width="80" height="80">
        </div>
        <div class="comment-content">
          <div class="comment-inner">
            <div class="comment-metadata  push-down-15">
              <cite class="author-name">
                <span class="light">Jaka</span> Šmid
              </cite>
                <div class="comment__date"> September 28, 2013 at 3:32 pm / <a class="secondary-link" href="#">Reply</a>
                </div>
            </div>
            <div class="comment-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscpit ipsum sed sapien dignissim, eu blandit mi volutpat. Curabitur tincidunt, tellus sit amet rutrum sodales, velit orci consectetur velit, a placerat magna est nec justo. Nam iaculis velit at lacus gravida, et dictum nulla dapibus.</p>
            </div>
          </div>
        </div>
      </div>
    {{> divider}}
    <h3><span class="light">Leave</span> a comment</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group">
          <span class="text-dark">Name <span class="warning">*</span></span>
          <input type="text" class="form-control  form-control--contact">
        </div>
        <div class="form-group">
          <span class="text-dark">E-mail <span class="warning">*</span></span>
          <input type="text" class="form-control  form-control--contact">
        </div>
        <div class="form-group">
          <span class="text-dark">Subject <span class="warning">*</span></span>
          <input type="text" class="form-control  form-control--contact">
        </div>
      </div>
    </div>
    <div class="form-group">
      <span class="text-dark">Message <span class="warning">*</span></span>
      <textarea class="form-control form-control--contact form-control--big" rows="12"></textarea>
    </div>
    <button type="button" class="btn btn-warning">Send now</button> &nbsp; Fields marked with <span class="warning">*</span> are obligatory
    </div>
    <div class="col-xs-12 col-sm-4">
      {{> blog-sidebar}}
    </div>
  </div>
</div>
{{> footer}}